<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name = "Automation.Listeners"/>
</listeners>

<test thread-count="5" name="Validating user signup">
    <classes>
      <class name="Automation.SignupPageTest"/>
</classes>
  </test> <!-- Test -->

  <test thread-count="5" name="Validating user login">
    <classes>
      <class name="Automation.homepage"/>
</classes>
  </test> <!-- Test -->

 <test thread-count="5" name="Validating Navigation bar">
    <classes>
      <class name="Automation.ValidateNavigationBar"/>
 </classes>
</test> <!-- Test -->

<test thread-count="5" name="Validating title in the homepage">
    <classes>
      <class name="Automation.ValidateTitle"/>
    </classes>

  </test> <!-- Test -->  
</suite> <!-- Suite -->
